[submodule "3rdparty/Box2D"]
	path = 3rdparty/Box2D
	url = https://github.com/erincatto/Box2D.git
[submodule "3rdparty/pybind11"]
	path = 3rdparty/pybind11
	url = https://github.com/pybind/pybind11.git
